#frame{
    position: absolute;
    width: 1200px;
    height: 800px;
    border: 2px solid #000;
    perspective: 600px;
    overflow: hidden;
}

#world{
    position: absolute;
    width: inherit;
    height: inherit;
    /* background-color: aquamarine; */
    transform-style: preserve-3d;
}

#ex_item{
    position: absolute;
    width: 100px;
    height: 200px;
    top: 400px;
    left: 600px;
    background-color: rgb(14, 142, 61);
    transform: translate(-25%, -50%) 
}
 
.obj{
    position: absolute;
}

.menu{
    position: absolute;
    width: inherit;
    height: inherit;
}

.menu::before {
    position: absolute;
    width: inherit;
    height: inherit;
    content: "";
    background-image: url("images/Backgrounds/resized/Erid-Resized.png");
    filter: blur(2px);
    z-index: -1;
    /* display: block; */
}

@font-face {
    font-family: Hail-Mary;
    src: url("fonts/HailMary_AthemWulf.ttf");
    
}

#instructions{
    font-family: Hail-Mary;
    font-size: 42px;
    color: aliceblue;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 0.25px;
    padding-inline-start: 75px;
}


.button{
    position: absolute;
    width: 600px;
    height: 175px;
    border: 15px solid red;
    border-radius: 125px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-family: Hail-Mary;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
    color: aliceblue;
    font-size: 54px;
    /* text-align: center; */
}



.button:hover{
    background-size: 600px 400px;
}

.button-text{
    text-align: center;
}

#button1{
    background-image: url("images/Backgrounds/resized/red_button_bigger.jpg");
    background-position: 55% 35%;
    top: 75px;
    left: 275px;
}

#button2{
    background-image: url("images/Backgrounds/resized/info_bigger.jpg");
    background-position: 50% 50%;
    top: 300px;
    left: 275px;
}

#button3{
    top: 500px;
    left: 275px;
}

#button4{
background-image: url("images/Backgrounds/resized/STSCPanel_shmol.jpg"); 
background-position: 55% 45%;
top: 525px;
left: 275px;
}