#waaagh{
    position: absolute;
    width: 1200px;
    height: 800px;
    border: 2px solid #000;
    perspective: 600px;
}

#ork{
    position: absolute;
    width: inherit;
    height: inherit;
    /* background-color: aquamarine; */
    transform-style: preserve-3d;
}

#warboss{
    position: absolute;
    width: 100px;
    height: 200px;
    top: 400px;
    left: 600px;
    background-color: rgb(14, 142, 61);
    transform: translate(-50%, -50%) rotateY(60deg);
}

#boy{
    position: absolute;
    width: 1000px;
    height: 1000px;
    background-color: cadetblue;
    top: 400px;
    left: 600px;
    transform: translate(-50%, -50%) rotateX(90deg) translateZ(-100px); 
}